body {
    margin: 0;
}

.signup-page-container {
    display: flex;
    height: 100vh;
    margin: 0;
}

/* BRAND VISUAL */
.visuals-left {
    background: url("images/gym-bg.jpg") no-repeat;
    background-size: cover;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: rgb(35, 36, 30);
    opacity: 0.4;
}

.logo-container img {
    height: 200px;
    width: 250px;
}

/* HEADER INFO */
.p-inline {
    display: flex;
    font-size: 22px;
}

.p-color {
    color: rgb(222, 190, 4);
    margin-right: 4px;
    font-weight: bold;
}

.header-info {
    padding: 6px;
}

.p2 {
    font-size: 20px;
    margin-top: 0;
}

/* SIGNUP FORM */
.signup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:rgb(242, 243, 244);
    height: 100%;
    width: 100%;
}

.form-container {
   display: flex;
   justify-content: space-evenly;
   background-color: white;
   height: 270px; 
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ACCOUNT ACCESS */
.acc-access {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create {
    height: 30px;
    width: 145px;
    background-color: rgb(222, 190, 4);
    border-radius: 5px;
    border: none;
    font-weight: bold;
}    

.create:hover {
   cursor: pointer;
}

.create:active {
    background-color: rgb(238, 203, 3);
    color: black;
}

a {
    text-decoration: none;
    color: rgb(211, 180, 5);
}